<div class='container-fluid bg-index full-div'>
  <div class='row full-div'>
    <div class='col-sm-1'>
    </div>
    <div class='col-sm-3 align-self-center'>
      <div class='card'>
        <div class="card-header text-center">
          <%= image_tag('logo/logo-up.png', :alt => 'UP', :class => 'logo-up') %>
        </div>
        <div class='card-body'>
          <ul class='nav nav-tabs nav-fill'>
            <li class='nav-item'>
              <a class='nav-link active' data-toggle='tab' href='#student_login'>
                <i class='fa fa-graduation-cap'></i>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' data-toggle='tab' href='#faculty_login'>
                <i class='glyphicon glyphicon-user'></i>
              </a>
            </li>
          </ul>
          <br/>
          <div class='tab-content'>
            <div class='tab-pane active container-fluid' style="min-width: 180px;" id='student_login'>
              <form action="/dashboard" method="post">  
                <div class="form-group has-feedback">              
                  <input type="text" class="form-control" name="student_number" placeholder="Student ID" value="">
                </div>
                <div class="form-group has-feedback">              
                  <input type="password" class="form-control" name="password" placeholder="Password" value="">
                </div>            
                <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox" name="remember"> Remember Me
                          </label>
                      </div>
                    </div>                      
                </div>
                <div class="row" style="text-align: center;">                  
                    <button type="submit"
                    class="btn btn-primary btn-block btn-flat">Sign In</button>                  
                </div>
            </form>          
          </div>
          <div class='tab-pane container-fluid' id='faculty_login'>
              <form action="/dashboard" method="post">  
                <div class="form-group has-feedback">              
                  <input type="text" class="form-control" name="faculty_id" placeholder="Faculty ID" value="">
                </div>
                <div class="form-group has-feedback">              
                  <input type="password" class="form-control" name="password" placeholder="Password" value="">
                </div>            
                <div class="row">
                    <div class="col-xs-8">
                      <div class="checkbox icheck">
                        <label>
                          <input type="checkbox" name="remember"> Remember Me
                          </label>
                      </div>
                    </div>                      
                </div>
                <div class="row" style="text-align: center;">                  
                    <button type="submit"
                    class="btn btn-primary btn-block btn-flat">Sign In</button>                  
                </div>
            </form>     
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-8 align-self-center'>
      <h2 class='sub-banner saira-extra-condensed-extra-bold-font'>University of the Philippines</h2>
      <h1 class='banner saira-extra-condensed-extra-bold-font'><span class='tomato'>STUDY PATH</span> TRACKING SYSTEM</h1>
      <%= link_to "About", records_url, class: 'btn btn-outline-primary btn-lg open-sans-font', role: 'button' %>
      <%= link_to "Developers Portal", records_url, class: 'btn btn-outline-light btn-lg open-sans-font', role: 'button' %>
    </div>
  </div>
  <footer class='footer fixed-bottom'>
    <div class='container-fluid text-center'>
      <span class='text-muted open-sans-font'>Copyright © Study Path Tracking System 2018</span>
    </div>
  </footer>
</div>
