<head>  

    <%= stylesheet_link_tag "index" %>

    <title>SPTS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://blackrockdigital.github.io/startbootstrap-resume/css/resume.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!--script type="text/javascript" src="https://p.w3layouts.com/demos/clean_classy_registration/web/js/JFCore.js"></script-->
    
    <!-- Set here the key for your domain in order to hide the watermark on the web server -->   

</head>
<body class="masthead" style="background: url(/home-bg.jpg); background-size: cover;">
<!-- tab style-1 -->
<div class="container-fluid p-0 col-xs-1 col-sm-6 col-md-0" style="position: relative; right: 100px; top: 20px;">      
      <section class="resume-section d-flex flex-column">
        <div class="my-auto">          
          <h1 class="mb-0">Study Path 
            <span class="text-primary">Tracking System</span>
          </h1>
          <div class="subheading mb-5"></div>                    
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">                            
              <div class="text-primary resume-date mb-3"></div>              
            </div>                                    
          </div>               
        </div>        
      </section>

    </div>
<div class="row" style="position: relative; left: 10px" id = "tablelogin">
  <!--320x50-->  
    <div class="tab style-1" style="width: 320px;">                               
              <dl>
                <dd class="student" style="width: 159px;"><a class="student active fa fa-graduation-cap" href="#student_login"> </a></dd>
                <dd class="faculty" style="width: 160px;"><a class="faculty fa fa-user-circle" href="#faculty_login"> </a></dd>                                
              </dl>       
              <ul>
                <p style="padding: 10px;" align="center">Login as student</p> 
                <%if flash[:error]%>           
                  <p class="error" align="center"><%= flash[:error]%></p>
                <%end%>
                <li class="active">
                  <div class="form"> 
                    <form action="/dashboard" method="post">   
                      <input type="text" class="active textbox" name="student_number" id="student_number" placeholder="Student ID" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = 'Student ID';}">

                      <input type="password" style="min-width: 200px" class="textbox" name="password" id="password" placeholder="Password" onfocus="this.placeholder = '';" onblur="if (this.placeholder == '') {this.placeholder = 'Password';}">                      
                      <input type="submit" value="Login">
                    </form>
                  </div>
                </li>                                                
                <li>
                  <div class="form">    
                    <input type="text" class="active textbox" value="Faculty ID" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Faculty ID';}">                    
                    <input type="text" class="textbox" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    
                    <input type="submit" value="Register">
                  </div>
                </li>    
              </ul>              
              </div>            
           <!--320x50-->
    </div>      
    
</div>  
</body>